<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      <li><a href="{{ site.baseurl }}/software.html">Software</a></li>
      <li><a href="{{ site.baseurl }}/firmware_electrical.html">Fireware/Electrical</a></li>
      <li><a href="{{ site.baseurl }}/mechanical.html">Mechanical</a></li>
      <li><a href="{{ site.baseurl }}/budget.html">Budget</a></li>
      <li><a href="{{ site.baseurl }}/meet_the_team.html">Meet The Team</a></li>
    </ul>
  </nav>
</header>
